.banner {
    font-size: .34rem;
    font-family: "HiraginoSansGB";
    color: rgb(255, 255, 255);
    height:4.6rem;
}
.head{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .79rem;
    text-align: center;
    padding-top: .2rem;
    background: rgb(44,44,44);
    z-index: 100;
}
.head div{
    display:inline-block;
    float:left;
}
.head img{
    margin-left: .26rem;
    float:left;
    width: .23rem;
    height: .41rem;
}
.head .sign-in{
    margin-left: 2.38rem;
}
.head .point{
    float:right;
    margin-right: .07rem;
    margin-left: 0;
    margin-top: .16rem;
    background-color: #fff;
    border-radius: 50%;
    width: .08rem;
    height: .08rem;
}
.head .pt1{
    margin-right: .26rem;
}
.bn-img{
    display: none;
    font-size: .42rem;
    font-family: "Microsoft YaHei";
    color: rgb(255, 192, 81);
    background: #000;
    height: 4.24rem;
}
.bn-img1{
    display: block;
}
.bn-img1 img{
    width: 100%;
    height: 4.24rem;
}
.bn-img1 p{
    margin-left: .82rem;
    margin-top: -2.53rem;
    width: 4.8rem;
    text-align: center;
}
.bn-img1 a{
    box-sizing: border-box;
    margin-left: 2.34rem;
    margin-top: -1.28rem;
    font-size: .23rem;
    font-family: "Microsoft YaHei";
    color: rgb(255, 192, 81);
    border: .01rem rgb(255, 192, 81) solid;
    padding: .12rem .41rem;
}
.banner .img-change{
    background: rgb(248,248,248);
    height: .35rem;
    /*border-bottom: 1px rgb(233,233,233) solid;*/
}
.banner span{
    float: left;
    margin-top: .13rem;
    margin-left: .09rem;
    display: inline-block;
    width: .09rem;
    height: .09rem;
    background: rgb(217,217,217);
    border-radius: 50%;
 }
.banner .bn-active1{
    margin-left: 2.83rem;
}
.banner .bn-active2{
    background: rgb(255,168,81);
}
.main{
    background: rgb(248,248,248);
    /*高度暂未添加*/
    /*height: .35rem;*/
    border-bottom: 1px rgb(233,233,233) solid;
}
.menu{
    box-sizing: border-box;
    font-size: .20rem;
    font-family: "HiraginoSansGB";
    color: rgb(77, 77, 77);
    background: #fff;
    border-bottom: 1px rgb(233,233,233) solid;
    border-top: 1px rgb(233,233,233) solid;
    height: 3.23rem;
    padding-top: .25rem;
    /*padding-left: .30rem;*/
    margin-bottom: .16rem;
}
.menu ul{
    width: 6.4rem;
    margin: 0 auto;
    text-align: center;
}
.menu ul li{
    display: inline-block;
    margin-right:.65rem;
    margin-bottom: .24rem;
    text-align: center;
}
.menu .last{
    margin-right:0;
}
.menu img{
    display:block;
    margin: 0 auto .13rem;
    width: .86rem;
    height: .86rem;
}
.news {
    font-size: .26rem;
    font-family: "HiraginoSansGB";
    color: rgb(77, 77, 77);
    background: #fff;
    border-bottom: 1px rgb(233,233,233) solid;
    border-top: 1px rgb(233,233,233) solid;
}
.news div{
     float: left;
     margin-left: .52rem;
     margin-top: .16rem;
 }
.news .person img{
     width: .58rem;
     height: .81rem;
 }
.news .news1 span{
    display: block;
}
.news .news1{
    margin-left: .25rem;
    margin-top: .30rem;
}
.news .news2{
    /*margin-top: .14rem;*/
    font-size: .18rem;
    font-family: "HiraginoSansGB";
    color: rgb(118, 118, 118);

    line-height: 1.5;

}
.news .more{
    float: right;
    font-size: .48rem;
    font-family: "SimSun";
    color: rgba(140, 140, 140, 0.69);
    margin-right: .38rem;
    margin-top: .41rem;
}
.site {
    font-size: .26rem;
    font-family: "HiraginoSansGB";
    color: rgb(44, 44, 44);
    background: #fff;
    margin-bottom: .16rem;
    margin-top: .16rem;
    border-bottom: 1px rgb(233,233,233) solid;
    border-top: 1px rgb(233,233,233) solid;
}
.site a,.service a{
    float: right;
}
.site>div span,.service .clearfix span{
    float: left;
    display:block;
    margin-left: .22rem;
    margin-top: .23rem;
    line-height:.26rem;
}
.site>div>a>img,.service>div>a>img{
    float: right;
    display:block;
    margin-right: .21rem;
    margin-top: .23rem;
    width: .25rem;
    height: .25rem;
}
.site .site2,.service .site2{
    float: right;
    margin-right: .1rem;
    margin-top: .26rem;
    line-height:.21rem;
    font-size: .21rem;
    font-family: "HiraginoSansGB";
    color: rgb(44, 44, 44);
}
.site ul {
    margin-top: .2rem;
}
.site .tet{
    float: left;
    width: 3.2rem;
    height: 3.4rem;
    font-size: 0;
    background-repeat: no-repeat;
    background-color:  rgb(0,0,0);
    background-image: url("img/site-img1.png");
    background-size:3.2rem 3.4rem;
}
.site .tet>div {
    box-sizing: border-box;
    float: left;
    margin-top: 2.58rem;
    margin-left: 0;
    background-color: rgba(0,0,0,.7);
    background-size: 3.2rem;
    width: 3.2rem;
    height: .82rem;
    padding-top: .17rem;
}
.site .tet span{
    display: block;
    width: 3.2rem;
    text-align: center;
    font-size: .24rem;
    font-family: "HiraginoSansGB";
    color: rgb(226, 226, 226);
}
.site .tet .site-img-price{
    font-size: .20rem;
}
.site .site-img2{
    background-image: url("img/site-img2.png");
}
.site .site-img3{
    background-image: url("img/site-img3.png");
}
.site .site-img4{
    background-image: url("img/site-img4.png");
}
footer .show{
    width: 6.4rem;
    height: 1.06rem;
}
footer .show img,footer .show div{
    float: left;
    margin-top: .27rem;
    margin-left: .6rem;
}
footer img.logo{
    width: .53rem;
    height: .56rem;
}
footer img.name-solgan{
    width: 1.03rem;
    height: .52rem;
    margin-top: .28rem;
    margin-left: .07rem;
}
footer img.footer-br{
    background-color: rgba(0,0,0,.2);
    width: 1px;
    height: .52rem;
    margin-top: .28rem;
    margin-left: .25rem;
}
footer img.cbda-logo{
    width: .66rem;
    height: .66rem;
    margin-top: .22rem;
    margin-left: .21rem;
}
footer div.cbda-name-solgan{
    /*width: .66rem;*/
    /*height: .66rem;*/
    margin-top: .30rem;
    margin-left: .12rem;
    font-size: .18rem;
    font-family: "HiraginoSansGB";
    color: rgb(70, 70, 70);
    /*line-height: 1.397;*/
}
footer div.cbda-name-solgan span{
    display: block;
}
footer .address{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(44,44,44);
    width: 6.4rem;
    height: .44rem;
    padding-top: .12rem;
}
footer .address span{
    font-size: .18rem;
    font-family: "Arial";
    color: rgb(226, 226, 226);
}
.eject{
    position: absolute;
    top: .79rem;
    width: 100%;
    height: 17.5rem;
    background: rgba(99,99,99,.6);
    z-index: 50;
}
.eject .select1{
    background: #ffffff;
    height: .76rem;
    width: 6.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233,233,233);
}
.eject .select2{
    background: #ffffff;
    height: 3.54rem;
    width: 6.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233,233,233);
}
.eject .select3{
    background: #ffffff;
    height:2.84rem;
    width: 6.4rem;
    box-sizing: border-box;
}
.eject .select1 span{
    line-height: .76rem;
    font-size: .26rem;
    color:  rgb(77,77,77);
    margin-left: 1.13rem;
}
.eject .select1 span:after{
    left: 3.68rem;
    position: absolute;
    top: .35rem;
    content: "";
    border-width: .1rem;
    border-color:rgb(77,77,77) transparent transparent ;
    border-style: solid;
}
.eject .select1 span:first-child:after{
    left: 1.52rem;
}
.eject .select1 span:last-child:after{
    left: 5.9rem;
    border-color:rgb(255,159,64) transparent transparent ;
}
.eject .select1 span:first-child{
    margin-left: .38rem;
}
.eject .select1 span:last-child{
    color: rgb(255,159,64);
    margin-left: 1.14rem;
}
.eject .select2>div div{
    display: inline-block;
    font-size: .24rem;
    color: #757575;
    background: rgb(233,233,233);
    margin-top: .17rem;
    text-align: center;
    width: 1.38rem;
    height: .49rem;
    margin-right: .09rem;
    line-height: .49rem;
}
.eject .select2>div:first-child{
    margin-top: 0;
    font-size: .3rem;
    color: #4d4d4d;
    margin-left: .25rem;
    text-align: center;
    width: 1.38rem;
    height: .49rem;
    margin-right: .1rem;
}
.eject .select2 .f1 div:first-child{
    color: #ffffff;
    background: rgb(255,159,64);
}
.eject .select2>div div:last-child{
     margin-right: 0;
 }
.eject .select2>div div:first-child{
    margin-left: .25rem;
}
.eject .select2{
    padding-top: .17rem;
}
body .eject div.confirm{
    width: 6.27rem;
    height: .63rem;
    margin: .17rem auto .1rem;
    background: rgb(255,159,64);
    color: #ffffff;
    font-size: .3rem;
    text-align: center;
    line-height: .63rem
}