header{
    width: 6.4rem;
    height: .79rem;
    text-align: center;
    background: rgb(44,44,44);
}
header .back img{
    float: left;
    width: .23rem;
    height: .41rem;
    margin-left: .27rem;
    margin-top: .2rem;
    vertical-align: middle;
}
header .more img{
    float: right;
    width: .39rem;
    height: .08rem;
    margin-right: .26rem;
    margin-top: .36rem;
    vertical-align: middle;
}
header span{
    font-size: .34rem;
    line-height: .79rem;
    vertical-align: middle;
    color: #ffffff;
}
hr{
    background: rgb(233,233,233);
    border:0;
    height:1px;
}
main{
    width: 6.4rem;
    background: #fff;
}
main .top{
    text-align:left;
    width: 6.04rem;
    margin: 0.32rem auto .23rem;
    font-size: .3rem;
    color: #4d4d4d;
}
main .top img{
    width: 6.04rem;
    height: 1.47rem;
}
main .top .date{
    font-size: .3rem;
    color: #4d4d4d;
}
main .top .num{
    font-size: .3rem;
    color: #fe7200;
    float: right;
    margin-right: 0;
}
main .top .num2{
    color: #4d4d4d;
}
main .content{
    width: 5.84rem;
    margin: .3rem auto;
    font-size: 0;
}
main .portrait{
    vertical-align: top;
    height: .57rem;
    width: .57rem;
}
main .content .content-message{
    display: inline-block;
    width: 5.09rem;
    margin-left: .18rem;
    vertical-align: top;
}
main .content-message-top .name{
    font-size: .21rem;
    color: #797979;
    line-height: .21rem;
}
main .content-message-top .floor{
    font-size: .21rem;
    float: right;
}
main .content-message-top .same-color{
    color: #fe7200;
}
main .content-message-top .message-main{
    color: #595959;
    font-size: .24rem;
}
main .message-bottom{
    margin-top: .17rem;
    margin-bottom: ;
}
main .message-date{
    font-size: .18rem;
    color: #797979;
}
main .message-comment{
    float: right;
    width: .31rem;
    height: .3rem;
}
main .message-num{
    float: right;
    display: inline-block;
    font-size: .18rem;
    margin-right: .5rem;
}
main .message-praise{
    float: right;
    margin-right: .12rem;
    width: .29rem;
    height: .28rem;
}
main .message-floor-box{
    position: relative;
    left: 0;
    top: 0;
}
main .message-f2{
    margin-top: .28rem;
    box-sizing: border-box;
    width: 5.09rem;
    height: 1.68rem;
    border: solid 1px rgb(230,230,230);
    padding: 0 .16rem;
}
main .message-f2:before,main .message-f2:after {
    border-style: solid;
    border-width: 0 .165rem .09rem;
    border-color: transparent transparent rgb(230,230,230);
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: -.08rem;
    content: '';
}
main .message-f2:after {
    border-color: transparent transparent #fff transparent;
    top: -.07rem;
}
main .message-f3{
    box-sizing: border-box;
    width: 5.09rem;
    height: 2.17rem;
    border: solid 1px rgb(230,230,230);
    border-top-width: 0;
    padding: .18rem .16rem;
}
main .message-f2-v{
    width: .18rem;
    height: .16rem;
    vertical-align: baseline;
}
main .message-f2 .content-message-top .clearfix{
    margin-top: .18rem;
    margin-bottom: .14rem;
}
main .message-f2 .message-num{
    float: right;
    display: inline-block;
    font-size: .18rem;
    margin-right: .55rem;
}
main .message-f3 .content-message-top .clearfix{
    margin-bottom: .14rem;
}
main .message-f3 .message-more{
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    font-size: .21rem;
    color: #fe7b11;
}
footer{
    margin-top: .6rem;
    background: #fe7b11;
    height: .73rem;
    line-height: .73rem;
    font-size: 0rem;
    color: #ffffff;
}
footer span{
    display: inline-block;
    font-size: 0.26rem;
}
footer span:first-child{
    margin-left: .53rem;
}
footer span:first-child:after{
    /*line-height: .24rem;*/
    display: inline-block;
    margin-left: .18rem;
    content: "";
    width: 0;
    height: .24rem;
    border: 0;
    border-left: #ffffff solid 1px;
    vertical-align: middle;
}
footer span:nth-child(2){
    margin-left: .17rem;
}
footer img{
    width: .4rem;
    height: .4rem;
    vertical-align: -15%;
    margin-left: 2.7rem;
    margin-right: .17rem;
    /*margin-top: .14rem;*/
}