header{
    font-size: .34rem;
    font-family: "HiraginoSansGB";
    color: rgb(255, 255, 255);
    height:3.71rem;
}
header .head{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .79rem;
    text-align: center;
    padding-top: .2rem;
    background: rgb(44,44,44);
}
header .head div{
    display:inline-block;
    float:left;
}
header .head img{
    margin-left: .26rem;
    float:left;
    width: .23rem;
    height: .41rem;
}
header .head .sign-in{
    margin-left: 2.38rem;
}
header .head .point{
    float:right;
    margin-right: .07rem;
    margin-left: 0;
    margin-top: .16rem;
    background-color: #fff;
    border-radius: 50%;
    width: .08rem;
    height: .08rem;
}
header .head .pt1{
    margin-right: .26rem;
}
header .header-img{
    font-size: .40rem;
    width: 100%;
    height: 3.71rem;
    background: url("../img/header-bg.png") no-repeat;
    background-size: cover;
    font-family: "FZLTZHK";
    color: rgb(255, 255, 255);
}
.header-img div{
    padding-left: 3rem;
    padding-top: 1.79rem;
    text-align: center;
}
main form{
    width: 6.4rem;
    background: #fff;
    text-align: center;
    margin-bottom: .76rem;
}
main form>input{
    width: 4.71rem;
    height: .78rem;
    box-sizing: border-box;
    border: 0;
    outline: 1px rgb(199,199,199) solid;
}
main form .message{
    display: block;
    margin-top: .54rem;
    font-size: .26rem;
    font-family: "HiraginoSansGB";
    color: rgb(95, 95, 95);
}
main form .three{
    font-size: .28rem;
    font-family: "FZLTHJW";
    color: rgb(181, 181, 181);
    box-sizing: border-box;
    padding-left: .22rem;
}
main form .pnumber{
    margin-top: .6rem;
}
main form .code{
    display:inline-block;
    float: left;
    margin-left: .85rem;
    margin-top: .24rem;
    width: 3.02rem;
}
main form .code-img{
    display:inline-block;
    float: right;
    margin-top: .23rem;
    margin-right: .83rem;
}
main form .code-img img{
    width: 1.46rem;
    height: .78rem;
}

main .sign{
    float: left;
    background: rgb(255,167,81);
    color: #fff;
    margin-top: .21rem;
    margin-left: 2.04rem;
    width: 2.23rem;
    font-size: .34rem;
    margin-bottom: 3.04rem;
}